{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Histopathology</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'hist/logo.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'hist/logo.png' %}" type="image/x-icon">
<script>
function display(elem) {
	document.getElementById('title').innerHTML = document.getElementById("filter" + elem.innerHTML).innerHTML;
	document.getElementById('images').innerHTML = document.getElementById("url" + elem.innerHTML).innerHTML;
}
</script>
</head>
<body style="font-family:Courier;font-weight:bold;text-align:center;">
<br/>
<!-- START PREDICTIONS -->
<div style="text-align:center;font-size:35px;padding-top:10px;">
{{ y_pred }}<br/><br/>
</div>
<!-- END PREDICTIONS -->

<!-- START LAYERS LINKS -->
<span style="text-decoration:underline;">VISUALIZABLE LAYERS</span>
<br/><br/>
{% for i in filters %}
	<a onclick="display(this)" style="cursor:pointer">{{forloop.counter}}</a>
{% endfor %}
<br/>
<!-- END LAYERS LINKS -->

<!-- START INITIAL FIRST LAYER IMGS -->
<br/><br/>
<div id = "title"><span style="font-weight:100">Showing filters/feature maps generated in</span> Layer 1 <span style="font-weight:100">(Total #: <span style="font-weight:bold">{{ filters.0|length }})</span></span></div>
<div id = "images" style = "margin-top:20px;">
{% for j in filters.0 %}
	<img src="{% static "hist/visualizations/layer-1" %}/{{j}}.png" style="width:85px;float:left;margin-right:5px;margin-bottom:5px;">
{% endfor %}
</div>
<!--  END INITIAL FIRST LAYERS IMGS -->

<!-- START ALL LAYER IMGS IN BACKGROUND -->
<div style="display:none">
{% for i in filters %}
	<span id="filter{{forloop.counter}}"><span style="font-weight:100">Showing filters/feature maps generated in</span> Layer {{forloop.counter}} <span style="font-weight:100">(Total #: <span style="font-weight:bold">{{ i|length }})</span></span></span>
	<div id="url{{forloop.counter}}">
	{% for j in i %}     
		<span style="font-weight:bold"><img src="{% static "hist/visualizations/layer-" %}{{forloop.parentloop.counter}}/{{j}}.png" style="width:85px;float:left;margin-right:5px;margin-bottom:5px;"></span>
	{% endfor %}
	</div>
{% endfor %}
</div>
<!--  END ALL LAYERS IMGS -->
</body>
</html>